#post {
    max-width: 200px;
    margin: 20px auto 10px auto;
    background: #06c800;
    border: 1px solid #06c800;
    color: white;
    text-align: center;
    cursor: pointer;
}

#postsList {
    margin: 10px auto;
    max-width: 800px;
    text-align: left;
    font-size: 16px;
    font-weight: bolder;
    padding: 0;
}

#postsList li {
    display: block;
    border-top: 1px solid #c35a00;
    background-color: white;
    margin: 0;
    padding: 20px 12px;
    line-height: 25px;
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
}
#introBar {
    font-size: 12px;
    text-align:center;
    background-color: #ff5729;
    padding: 5px 10px;
    margin-top: 20px;
}
.about-nav {
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom:5px;
    padding-left: 10px;
    font-size: 20px;
    margin: 40px;
    cursor: pointer;
}
#sentense {
    text-align: center; font-weight:bolder; font-size:24px;
}
#fontstyle {
    font-size: 18px; font-weight: bolder; color:red;
}
#navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: #ff5729;
    border-bottom: 1px solid #ff5729;
    border-top: 1px solid #ff5729;
}

#navbar #navbar-left {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('http://res.cloudinary.com/remotecontrol/image/upload/v1450092982/direction196_ul2xsv.png') no-repeat center;
    cursor: pointer;
}

#navbar #menu {
    display: inline-block;
    padding-left: 0;
    margin-left: 5px;
    margin-top: 7px;
    vertical-align: top;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 3px;
    cursor: pointer;
}
#intro, #rules, #tips{
    text-align: left;
    padding: 20px;
    border-bottom: 1px;
    line-height: 30px;
}
.rules-title {
    font-weight: bolder;
    font-size: 20px;
}
.rules-content {
    margin-bottom: 25px;
}

.questions {
    background-color: #ffc229;
    color: white;
    padding: 5px;
    border: 1px #f5af00;
    margin:0;
}

.answers {
    padding:5px 10px;
    margin: 0;
    border-right:1px solid #f5af00;
    border-left:1px solid #f5af00;

}
.header {
    max-width: 550px;
    margin: auto;
    text-align: center;
}


input {
    font: inherit;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
}

#type-check {
    display: block;
    max-width: 550px;
    margin: 20px auto 10px auto;
    border: 1px solid #afafaf;
    padding: 10px;
    text-align: left;
}

.type-check-line {
    vertical-align: middle;
    margin: 10px 0;
}

.type-check-line textarea {
    font: inherit;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #bdbdbd;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.confirm {
    order-radius: 0;
    background: white;
    border: 1px solid darkgreen;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    margin: 5px 0;
    text-align: center;
    padding: 5px;
}

#footer {
    padding: 30px 20px;
    margin: auto;
    color: white;
    font-size: 14px;
    font-weight: 300;
    background: #ff5729;
    border-top: 1px solid #ff5729;
    text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #FFFFFF; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
