<template name="login">
    {{#unless currentUser}}
        <div id="front-login-or-join">
            <div id="change-to-login">로그인</div>
            <div id="change-to-join">회원가입</div>
        </div>

        <form id="front-login">
            <input id="front-login-username" type="text" placeholder="아이디" tabindex="1">
            <input id="front-login-password" type="password" placeholder="비밀번호" tabindex="2">
            <div id="front-login-submit" tabindex="3">로그인</div>
        </form>
    {{/unless}}
</template>