<template name="rules">
    <div>
        <div class="rules-title">
            1) 서로에게 예의를 지킨다.
        </div>

        <div class="rule-content">
            "
            이글을 읽고 계신당신 예의가 바른분이라는 것을 알고 있습니다."
            <br>
            <br>
            "평상시대로 해주시면 됩니다."
        </div>
        <div class="rules-title">
            2) 고유명사는 알파벳으로 대체한다.
        </div>
        <div class="rules-content">
            회사이름,사용하세요 ~~~
            <br>
        </div>
        <div class="rules-title">
            1) 서로에게 예의를 지킨다.
        </div>

        <div class="rule-content">
            "
            이글을 읽고 계신당신 예의가 바른분이라는 것을 알고 있습니다."
            <br>
            <br>
            "평상시대로 해주시면 됩니다."
        </div>
        <div class="rules-title">
            2) 고유명사는 알파벳으로 대체한다.
        </div>
        <div class="rules-content">
            회사이름,사용하세요 ~~~
            <br>
        </div>
        <div class="rules-title">
            1) 서로에게 예의를 지킨다.
        </div>

        <div class="rule-content">
            "
            이글을 읽고 계신당신 예의가 바른분이라는 것을 알고 있습니다."
            <br>
            <br>
            "평상시대로 해주시면 됩니다."
        </div>
        <div class="rules-title">
            2) 고유명사는 알파벳으로 대체한다.
        </div>
        <div class="rules-content">
            회사이름,사용하세요 ~~~
            <br>
        </div>
    </div>
</template>